@import "tailwindcss";

@font-face {
  font-family: "Inter";
  src: url("assets/fonts/inter.ttf") format("truetype");
} 
body {
  @apply m-0;
    font-family: "Inter", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

